@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Girls";
}

<div class="text-center">
    <h1 class="display-4">@ViewBag.Greeting</h1>

    <p>There are 2 Girls</p>

    <a asp-area="default" asp-controller="Home" asp-action="Index">Return to Classroom</a>
</div>
