@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">N34 Azure for ASP.NET MVC</h1>

    <a asp-area="Boys" asp-controller="Home" asp-action="Index">Boys</a>
    <a asp-area="Girls" asp-controller="Home" asp-action="Index">Girls</a>
    <a asp-area="Teachers" asp-controller="Home" asp-action="Index">Teachers</a>
</div>
